<%- include('header') %>
	<div class="container"><div class="table2">	
	 <%- include ('./partials/messages') %>
		<h1><b>User Dashboard</b></h1><br>
		 
</div><br><br>
</div><br><br><br>
<%- include('footer') %>