/* .form {
    padding: 30;
    border-radius: 19px;
    border: dashed;
    border-color: white;
    background-color: white;
}

.table2 {
    padding: 30;
    border-radius: 19px;
    border: dashed;
    border-color: white;
    background-color: white;
}

.body {
    background-color: #00c4ffbf;
} */
/* .form{
	margin-left: 200px;
} */
.navbar{
	padding-left: 100px;
	border: 10px;
	border-color: black;
}